<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>336679844295-17hbedneeh25676p3c2q3cvg92lulufe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.336679844295-17hbedneeh25676p3c2q3cvg92lulufe</string>
	<key>API_KEY</key>
	<string>AIzaSyAu4vbabcaPCFRvdX-URVyEeH5Gqb5ehS4</string>
	<key>GCM_SENDER_ID</key>
	<string>336679844295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.osf.A04-FinalBooks</string>
	<key>PROJECT_ID</key>
	<string>a04-finalbooks</string>
	<key>STORAGE_BUCKET</key>
	<string>a04-finalbooks.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:336679844295:ios:f8eedce82ece39db45c1e2</string>
	<key>DATABASE_URL</key>
	<string>https://a04-finalbooks.firebaseio.com</string>
</dict>
</plist>